<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.noboi.shooter"
    android:versionCode="1"
    android:versionName="1.0">
  <uses-sdk android:minSdkVersion="34" android:targetSdkVersion="34" />
  <application android:label="NOBOI Shooter" android:icon="@drawable/icon" android:theme="@style/Theme.Splash">
  </application>
</manifest>
